<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sase.justin.saseumnv2" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!--
      IMPORTANT: Change "com.parse.starter.permission.C2D_MESSAGE" in the lines below
      to match your app's package name + ".permission.C2D_MESSAGE".
    -->
    <permission
        android:name="com.sase.justin.saseumnv2.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.sase.justin.saseumn.permission.C2D_MESSAGE" />

    <application
        android:name="com.sase.justin.saseumnv2.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/LiteBlueTheme" >
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <activity
            android:name="com.sase.justin.saseumnv2.MainSwipeActivity"
            android:label="@string/title_activity_main_swipe" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sase.justin.saseumnv2.EventDetail"
            android:label="@string/title_activity_event_detail" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sase.justin.saseumnv2.MainSwipeActivity" />
            <!-- android:value="com.example.justin.saseumn.EventsCalendar" /> -->
        </activity>
        <activity
            android:name="com.sase.justin.saseumnv2.NewsDetail"
            android:label="@string/title_activity_news_detail" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sase.justin.saseumnv2.MainSwipeActivity" />
            <!-- android:value="com.example.justin.saseumn.NewsFeed" /> -->
        </activity>
        <activity
            android:name="com.sase.justin.saseumnv2.SetPreferencesActivity"
            android:label="@string/title_activity_set_preferences" >
        </activity>
    </application>

</manifest>
